---
import Section from "./Section.astro";
import type { AboutProps } from "@types";

type Props = AboutProps;

const { description } = Astro.props;
---

<Section text="About" href="about" num="01">
  <p
    class="text-base leading-relaxed"
    style="color: var(--color-text-muted);"
  >
    {description}
  </p>
</Section>
